body {
    background-color: rgb(255, 255, 255);
    font-family: 'claredon', Arial, Helvetica, sans-serif, monospace;
    color: rgb(57, 57, 173);
    text-align: left;
    margin: 40px;
    background-image: url(images/digital-darkrrom-final-copy.jpg); 
    /* background-size: cover;  */
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0; height: 100vh;
    background-size: 600px auto;
}
.class {
    font-family: 'Helvetica', Arial, Helvetica, sans-serif, monospace;
    color: rgb(57, 57, 173);
}

h1 {
    font-family: 'Helvetica', Arial, Helvetica, sans-serif, monospace;
    color: rgb(57, 57, 173);
}
image {
    width: 100%;
    height: auto;
}
.multi-column {
  column-count: 3;   
  column-gap: 30px;  
}
.hidden-audio {
  display: none; /* hides the player */
}

